<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nutrition</title>
	<link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<aside>
    
        <nav class="navigation">
            
            <div class="upperPart">
            <div class="icon"></div>
            <a href="#" class="btn doublehelix" ><img src="assets/icons/doublehelix.svg" alt="Doublehelix" ></a>
            <a href="main.html" class="btn main"><img src="assets/icons/main.svg" alt="Main"></a>
            <a href="nutrition.html" class="btn nutrition"><img src="assets/icons/Nutrition.svg" alt="nutrition" ></a>
            <a href="exercise.html" class="btn exercise"><img src="assets/icons/Dumbell.svg" alt="Exercise" ></a>
            <a href="settings.html" class="btn settings"><img src="assets/icons/Settings.svg" alt="Settings" ></a>
            <a href="calendar.html" class="btn calendar"><img src="assets/icons/Calendar.svg" alt="Calendar" ></a>
            <a href="progressChart.html" class="btn progressChart"><img src="assets/icons/Statistics.svg" alt="progressChart" ></a>
            </div>
        <div class="lowerPart">
            <a href="help.html" class="btn"><img src="assets/icons/Help.svg" alt="Help" ></a>
            <a href="exit.html" class="btn"><img src="assets/icons/Exit.svg" alt="Exit" ></a>
            <a href=""></a> 
        </div>
        </nav>
    
</aside>
<main>
	<div class="header">
			<h2>Help</h2>
            <div class="tools">
                <div class="search">
                    <img src = "search.svg" alt="search">
                </div>
                  <div class="notification">
                    <img src = "notification.svg">
                </div>
            </div>
            <div class="optionalTools">
            	<div class="avatar">
            		<img src="avatar.svg" alt="avatar">
            	</div>
            	<div class="filter">
            		<img src="filter.svg" alt="filter">
            	</div>
            </div>
		</div>
</main>
</body>
</html>