<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Register</title>
	<link rel="stylesheet" href="styles/login.css">
	<main>
	<div class="container">
		<div class="leftBox">
			<div class="logo">
			<img src="doublehelix.svg">
			<p>Optimize your body,hack your life</p>
            </div>
		</div>
        <div class="rightBox">
        	<div class="SignupAndLogin">
           		<a href="exit.html">Log In</a>
           		<a href="register.html">Register</a>
        	</div>
        	<div class="loginBox">
  <form>
    <h2>Log in</h2>

    <label>
      <input type="email" name="email" placeholder="Email" required>
    </label>

    <div class="password">
      <input type="password" id ="passwordInput"name="password" placeholder="Password" required>
      <div class="eyeBackground">
      <div class="eyeIconCard" id="togglePassword">
        <img src="assets/icons/Eye-open.svg" alt="Show Password">
      </div>
    </div>
</div>

    <span>Forgot the password?</span>
    	<div class="remember">Remember me
      <div class="swtichButton">
	<label class="switch">
    <input type="checkbox" name="remember" value="yes">
  	  <div class="slider"></div>
  	</label>
	</div>
    </div>

    <button type="submit">Log in</button>
  </form>
</div>
        	

        </div>

	</div>
	</main>
</head>
<body>

</body>
</html>