<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercise - Leg Day</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/mainApp.css">
  <link rel="stylesheet" type="text/css" href="styles/exerciseApp.css">
  <link rel="stylesheet" type="text/css" href="styles/login.css">
</head>
<body>
  <div id="app">
    <header>
      <img src="assets/icons/doublehelix.svg" alt="Logo">
    </header>
<main>
    <div class="mode-switch">
      <button :class="{active: mode==='gym'}" @click="mode='gym'">Gym</button>
      <button :class="{active: mode==='home'}" @click="mode='home'">Home</button>
    </div>

    <h2>{{currentDay}}</h2>
<div id="stopwatchBox">
  <div class="time">{{ workoutTime }}</div>

  <div class="sw-buttons">
    <button @click="startWorkout">Start</button>
    <button @click="stopWorkout">Stop</button>
  </div>

  <div class="active-ex">
    Active: {{ activeExercise ? activeExercise.name : "None" }}
  </div>
</div>
    <div class="exercise-box" v-for="exercise in exercises" :key="exercise.name">
      <div class="exercise-title" @click ="setActiveExercise(exercise)":class="{active: activeExercise === exercise}">Exercise: {{ exercise.name }}</div>
      <div class="set-row" style="font-weight: bold;">
        <div>Sets</div><div>Reps</div><div>Weight</div><div>Status</div>
      </div>
      <div class="set-row" v-for="(set, i) in exercise.sets" :key="i">
        <input v-model="set.sets" type="number" />
        <input v-model="set.reps" type="number" />
        <input v-model="set.weight" type="number" />
        <input v-model="set.status" type="text" />
      </div>
      <button class="add-set-btn" @click="addSet(exercise)">+ Add Set</button>
    </div>

    <div class="actions">
      <button class="done-btn">Done</button>
      <button class="finish-btn" @click="submitExercise">Finish</button>
    </div>
</main>
<footer>
     <nav class="bottom-nav">
    <div class="item">
      <a href="nutritionApp.html">
      <div class="icon">🍎</div>
      <div>Nutrition</div>
    </a>
    </div>
    <div class="item">
      <a href="exerciseApp.html">
      <div class="icon">🏋️</div>
      <div>Exercise</div>
     </a>
    </div>

       <div class="home-button">
 <a href="mainApp.html">
    🏠
  </a></div>

    <div class="item">
      <div class="icon">🗓️</div>
      <div>Calendar</div>
    </div>
    <div class="item">
      <div class="icon">📈</div>
      <div>Progress</div>
    </div>
  </nav>
  </div>
</footer>
<div class="toast success"></div>
<div class="toast fail"></div>
  <script>


async function api (path,opts={})
{
  try{
const res = await fetch( path,
{credentials: "include",...opts});
console.log(res);
const text = await res.text(); // ← read raw output
  console.log("RAW:", text);  
  const data  =JSON.parse(text);

  //return data inside the try scope if not then return null
return data;
}
catch(err)
{
  console.log(err.message);
}
return null;
}

window.addEventListener("pageshow", async () => {
  const data = await api("http://127.0.0.1:8000/app/home/");
  console.log(data.success);
  

if (!data.success)
{
console.log("No Permission. Redirecting...");
showToast(data.error)
      setTimeout(()=>
    {
      
      window.location.href = "appLogin.html";

    },1000);
}
})

function showToast(message) {
  let toast;
  if(message.toLowerCase().includes("successfully"))
  toast = document.querySelector(".toast.success");
  else
  toast = document.querySelector(".toast.fail");
  
  toast.textContent = message;
  toast.classList.add("show");
  
  // Hide after 3s
  setTimeout(() => {
    toast.classList.remove("show");
  }, 3000);
}
    const { createApp } = Vue;
    createApp({
      data() {
        return {
          mode: 'home',
          // exercises: [
          //   { name: 'Squats', sets: [{ sets: 3, reps: 8, weight: 0, status: '' }] },
          //   { name: 'Walking Lunges', sets: [{ sets: 3, reps: 8, weight: 0, status: '' }] },
          //   { name: 'Romanian Deadlift', sets: [{ sets: 3, reps: 8, weight: 0, status: '' }] },
          //   { name: 'Barbell squat', sets: [{ sets: 3, reps: 8, weight: 0, status: '' }] },
          // ]
           currentDay: '',
           exercises: [],

           workoutSeconds: 0,
           workoutTimer: null,
           workoutTime: "00:00:00",
           activeExercise: null
        }
      },
      methods: {
        setSessionByDay()
        {const legDay = ["Squats","Walking Lunges","Leg Extension","Lying Leg Curl","Leg Press","Hip Abduction","Lunges"]
         const shoulderDay = ["Overhead Shoulder Press","Dumbbell Lateral Raise","Rear Delt Fly","Upright Row","Face Pull","Shoulder Shrug"]
         const chest  = ["Barbell Bench Press","Incline Dumbbell Press","Dips","Pushups","Cable Crossover","Pec Deck Machine"]
        const back = ["Lat Pull Down","High Row Machine","T Bar row","Seated Horizontal Row","One Arm Dumbell Row"]
          const day  = new Date().getDate();
         fetch ("http://127.0.0.1:8000/app/getLastExercise",{
          credentials : "include"
         }).then(res=>res.json()).then(data=>{
          if(!data.workout)
          {
            this.currentDay = "Chest Day"
            if(this.mode == "home"){
              this.exercises =[
              {name:"Pushups",
                seconds: 0,
                calories : 0,
                met : 6,
                sets:[{sets : 1,reps : 8,weight : 0,status : "",mode:this.mode}]},
              {name:"Dips",
               seconds: 0,
               calories : 0,
                met : 6,
                sets:[{sets:1,reps:15,weight:0,status:"",mode:this.mode}]}
            ]
            }
            else
            {
              this.exercises =[
              {name:"Barbell Bench Press",

                seconds: 0,
                calories : 0,
                met : 6,
                sets:[{sets : 1,reps : 8,weight : 0,status : "",mode:this.mode}]},
              {name:"Incline Dumbbell Press",
                seconds: 0,
                calories : 0,
                met : 6,
                sets:[{sets:1,reps:15,weight:0,status:"",mode:this.mode}]},
                {name:"Cable Crossover",
                
                seconds: 0,
                calories : 0,
                  met : 4.5,
                sets:[{sets : 1,reps : 8,weight : 0,status : "",mode:this.mode}]},
              {name:"Pec Deck Machine",
                seconds: 0,
                calories : 0,
                met : 4.5,
                sets:[{sets:1,reps:15,weight:0,status:"",mode:this.mode}]}
            ]
            }
            return; 
          } 
          if(legDay.find(value =>value == data.workout.exercise))
          {
            this.currentDay = "Chest Day"
            if(this.mode == "home"){
              this.exercises =[
              {name:"Pushups",
                
                seconds: 0,
               calories : 0,
                sets:[{sets : 1,reps : 8,weight : 0,status : "",mode:this.mode}]},
              {name:"Dips",
              
                seconds: 0,
                calories : 0,
                sets:[{sets:1,reps:15,weight:0,status:"",mode:this.mode}]}
            ]
            }
            else
            {
              this.exercises =[
              {name:"Barbell Bench Press",
                
                seconds: 0,
                calories : 0,
                sets:[{sets : 1,reps : 8,weight : 0,status : "",mode:this.mode}]},
              {name:"Incline Dumbbell Press",
               
                seconds: 0,
                calories : 0,
                sets:[{sets:1,reps:15,weight:0,status:"",mode:this.mode}]},
                {name:"Cable Crossover",
                 
                seconds: 0,
                calories : 0,
                sets:[{sets : 1,reps : 8,weight : 0,status : "",mode:this.mode}]},
              {name:"Pec Deck Machine",
                
                seconds: 0,
                calories : 0,
                sets:[{sets:1,reps:15,weight:0,status:"",mode:this.mode}]}
            ]
            }
          }
       else if (shoulderDay.find(value =>value == data.workout.exercise))
       {this.currentDay = "Leg Day"
        if(this.mode == "home"){
              this.exercises =[
              {name:"Squats",
                
                seconds: 0,
                calories : 0,
                met : 6,
                sets:[{sets : 1,reps : 8,weight : 0,status : "",mode:this.mode}]},
                {name:"Lunges",
                 
                seconds: 0,
                calories : 0,
                  met : 6,
                sets:[{sets : 1,reps : 8,weight : 0,status : "",mode:this.mode}]}

            ]
            }
            else
            {
              this.exercises =[
              {name:"Walking Lunges",
                
                seconds: 0,
                calories : 0,
                met : 7,
                sets:[{sets : 1,reps : 8,weight : 0,status : "",mode:this.mode}]},
              {name:"Leg Extensions",
                
                seconds: 0,
                calories : 0,
                met : 4,
                sets:[{sets:1,reps:15,weight:0,status:"",mode:this.mode}]},
                {name:"Lying Leg Curl",
                  
                seconds: 0,
                calories : 0,
                  met : 4,
                sets:[{sets : 1,reps : 8,weight : 0,status : "",mode:this.mode}]},
              {name:"Leg Press",
                
                seconds: 0,
                calories : 0,
                met : 5,
                sets:[{sets:1,reps:15,weight:0,status:"",mode:this.mode}]},
                {name:"Hip Abduction",
                  
                seconds: 0,
                calories : 0,
                  met : 3.5,
                sets:[{sets:1,reps:15,weight:0,status:"",mode:this.mode}]}
            ]
            }
       }
       else if (chest.find(value =>value == data.workout.exercise))
       {
        this.currentDay = "Back Day"
        if(this.mode == "home"){
              this.exercises =[
              {name:"Pullups",
                
                seconds: 0,
                calories : 0,
                met : 6,
                sets:[{sets : 1,reps : 8,weight : 0,status : "",mode:this.mode}]}
            ]
            }
            else
            {
              this.exercises =[
              {name:"Lat Pull Down",
                
                seconds: 0,
               calories : 0,
                met: 5,
                sets:[{sets : 1,reps : 8,weight : 0,status : "",mode:this.mode}]},
              {name:"High Row Machine",
                
                seconds: 0,
                calories : 0,
                met : 5,
                sets:[{sets:1,reps:15,weight:0,status:"",mode:this.mode}]},
                {name:"T Bar row",
                  
                seconds: 0,
                calories : 0,
                  met : 6,
                sets:[{sets : 1,reps : 8,weight : 0,status : "",mode:this.mode}]},
              {name:"Seated Horizontal Row",
                
                seconds: 0,
                calories : 0,
                met :5,
                sets:[{sets:1,reps:15,weight:0,status:"",mode:this.mode}]},
                {name:"One Arm Dumbell Row",
                  
                seconds: 0,
                calories : 0,
                  met : 6,
                sets:[{sets:1,reps:15,weight:0,status:"",mode:this.mode}]}
            ]
            }
       }
       else {
        this.currentDay = "Shoulder Day"
        if(this.mode == "home"){
              this.exercises =[
              {name:"Shoulder Shrug",
                
                seconds: 0,
                calories : 0,
                met : 4,
                sets:[{sets : 1,reps : 8,weight : 0,status : "",mode:this.mode}]}
            ]
            }
            else
            {
              this.exercises =[
              {name:"Overhead Shoulder Press",
                
                seconds: 0,
                calories : 0,
                met : 6,
                sets:[{sets : 1,reps : 8,weight : 0,status : "",mode:this.mode}]},
              {name:"Dumbbell Lateral Raise",
               
                seconds: 0,
                calories : 0,
                met : 4,
                sets:[{sets:1,reps:15,weight:0,status:"",mode:this.mode}]},
                {name:"Rear Delt Fly",
                  
                seconds: 0,
                calories : 0,
                  met : 4,
                sets:[{sets : 1,reps : 8,weight : 0,status : "",mode:this.mode}]},
              {name:"Upright Row",
                
                seconds: 0,
               calories : 0,
                met : 5,
                sets:[{sets:1,reps:15,weight:0,status:"",mode:this.mode}]},
                {name:"Face Pull",
              
                seconds: 0,
                calories : 0,
                  met : 4.5,
                sets:[{sets:1,reps:15,weight:0,status:"",mode:this.mode}]}
            ]
            }
       }
         })
        //   //check for which day you can 
        //   if(day % 2 == 0)
        //   {
        //     this.currentDay = "Chest/Shoulder Day"
        //     if(this.mode=="home")
        //     {
            
        //     this.exercises =[
        //       {name:"Pushups",
        //         sets:[{sets : 3,reps : 8,weight : 0,status : "",mode:this.mode}]},
        //       {name:"Pullups",
        //         sets:[{sets:3,reps:15,weight:0,status:"",mode:this.mode}]}
        //     ]}
        //     else
        //     {
        // this.exercises =[
        //       {name:"Deadlift",
        //         sets:[{sets : 3,reps : 8,weight : 0,status : "",mode:this.mode}]},
        //       {name:"Bench Press",
        //         sets:[{sets:3,reps:15,weight:0,status:"",mode:this.mode}]}
        //     ]}
        //     }
         
        //   else
        //   {
        //     this.currentDay = "Leg Day";
        //     if(this.mode=="home")
        //     {
              
        //     this.exercises = 
        //     [
        //       {
        //         name:"Squats",
        //         sets:[{sets:3,reps:20,weight:0,status:"",mode:this.mode}]
        //       },

        //       {
        //           name:"Lunges",
        //           sets: [{sets:4,reps:10,weight:0,status:"",mode:this.mode}]
        //       }
        //     ]
        // }

        //   else
        //   {
              
        //     this.exercises = 
        //     [
        //       {
        //         name:"Leg Press",
        //         sets:[{sets:3,reps:20,weight:0,status:"",mode:this.mode}]
        //       },

        //       {
        //           name:"Walking Lunges",
        //           sets: [{sets:1,reps:10,weight:0,status:"",mode:this.mode}]
        //       }
        //     ]
        //   }
        
        //   }
         
        },
        addSet(exercise) {
          exercise.sets.push({ sets: 0, reps: 0, weight: 0, status: '' ,mode:this.mode});
        },
        calcCalories(ex) {
          fetch("http://127.0.0.1:8000/app/getAgeAndWeight",
            {credentials:"include"}).then(res=>res.json()).then(data=>{
         console.log(data)
            const weightKg = data.userMetrics.weight_kg; // later replace with user profile
    const MET = ex.met; // temporary fixed value

    ex.calories = MET * weightKg * (ex.seconds / 3600);
            })
   
  },
        //we are trying to filter out the sets which have at least 1 rep
        submitExercise()
        {
          this.exercises.forEach(ex=>{
            ex.sets = ex.sets.filter(set => set.reps > 0 && set.sets > 0);
            
          });
 //from this sets we are trying to check whether at least such a set 
          const hasData = this.exercises.some(ex=>ex.sets.length>0);
          console.log(hasData);
          if(!hasData)
          {
            showToast("Fill it in at least one set");
            return;
          }
          const payload = {
    mode: this.mode,
    exercises: this.exercises
  }; console.log(payload)

          console.log(JSON.stringify(this.exercises))
          fetch("http://127.0.0.1:8000/app/log_exercise",
          {
            method:"POST",
            headers:{"Content-Type":"application/json"},
            credentials:"include",
            
            //send flat array to avoid the issues with debug

           body: JSON.stringify(payload)
          })
          .then(res=>res.json())
          .then(data=>{
           console.log("Server Response:", data);
            // For debug
           console.log(data);
      if (data.success === true) {
        
        showToast("Workout logged successfully!");
      } else {
        showToast("Failed to log workout.");
          }})
        },
        startWorkout() {
  if (this.workoutTimer) return;

  this.workoutTimer = setInterval(() => {

    this.workoutSeconds++;

    if (this.activeExercise) {
      this.activeExercise.seconds++;
    }

    this.workoutTime = this.formatTime(this.workoutSeconds);

  }, 1000);
},

stopWorkout() {
  clearInterval(this.workoutTimer);
  this.workoutTimer = null;
this.exercises.forEach(ex => {
    this.calcCalories(ex);
  });
  console.log("Workout seconds:", this.workoutSeconds);
  console.log("Per exercise:", this.exercises);
},

setActiveExercise(ex) {
  this.activeExercise = ex;
},

formatTime(sec) {
  let hrs = Math.floor(sec / 3600);
  let mins = Math.floor((sec % 3600) / 60);
  let secs = sec % 60;

  return (
    String(hrs).padStart(2,"0") + ":" +
    String(mins).padStart(2,"0") + ":" +
    String(secs).padStart(2,"0")
  );
}

      },
      mounted()
      {
        fetch("http://127.0.0.1:8000/app/getWorkouts", { credentials: "include" })
      .then(res => res.json())
      .then(data => {
        if (!data.success) return;

        

        // default load = gym
        // loadExercises("gym", this.workouts);
      });
        this.setSessionByDay();
      },
      watch: {
  mode(newMode) {
    this.setSessionByDay(); // re-run session setup when mode changes
  }
}
    }).mount('#app');

  </script>
</body>
</html>

